<a href="https://colab.research.google.com/github/asepmuhidin/algoritma/blob/main/kasus_tumpukan_angka.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
uang=int(input('masukan jumlah nilai salary : '))
uang_pecahan=[100000, 50000, 20000, 10000, 5000, 2000, 1000, 500, 200, 100]
sisa=uang
print('jumlah salary {}, pecahan yang dibutuhkan yaitu : '.format(uang))

masukan jumlah nilai salary : 700
jumlah salary 700, pecahan yang dibutuhkan yaitu :

In [10]:
for pecahan in uang_pecahan:
  if sisa < pecahan:
    continue
  
  banyak_pecahan = int(sisa/pecahan)
  #sisa = sisa - (pecahan * banyak_pecahan)
  sisa %= pecahan
  print('pecahan Rp {} : {} lembar'.format(pecahan, banyak_pecahan))

pecahan Rp 500 : 1 lembar
pecahan Rp 200 : 1 lembar

In [44]:
tumpukan=int(input("Masukan jumlah tumpukan ?"))
for i in range(1,tumpukan+1):
  for j in range(tumpukan,i,-1):
    print(" ",end='')
  for j in range(1,i*2):
    print(i, end='')
  print()

Masukan jumlah tumpukan ?9
        1
       222
      33333
     4444444
    555555555
   66666666666
  7777777777777
 888888888888888
99999999999999999

In [25]:
for i in range(1,6):
  for j in range(1,10):
    print(4*'', end='')
    print(i, end='')
  print()

111111111
222222222
333333333
444444444
555555555

In [27]:
for j in range(1,10):
  if (j==10/2):
    print(j, end='')
  else:
    print('*', end='')

****5****

In [34]:
for i in range(1,6):
  for j in range(5,i,-1):
    print(" ",end='')
  for k in range(1,2*i):
    print(i,end='')
  for j in range(5,i,-1):
    print(" ",end='')  
  print()

    1
   222
  33333
 4444444
555555555

In [38]:
jum=0
for i in range(1,6):
  jum +=i

print(jum)

15